
<% if user_signed_in? %>
	<div><span>Hello <%= current_user.email %> </span>
<% else %>
<% end %>
<% @signs.each do |sign| %>
	     		<div class="col-mod-3">
				     <div class="sign_image"> 
			        	<p><%= link_to(<img id="logo-main" src="<%=asset_path('logo.png') %>" width="200" alt="Astro-Logical">), sign_path(sign)) %></p>
			       	 </div>	
			    </div>
		
 <% end %>