<h1></h1>
<% if user_signed_in? %>
	<div><span>Hello <%= current_user.email %> </span>
<% else %>
<% end %>
<% @signs.each do |sign| %>
	     		<div class="col-mod-2">
				     <!-- <div class="sign_image">  -->
			        	<p><%= link_to "#{sign.name}", sign_path(sign) %></p>
			       	<!--  </div>	 -->
			    </div>
		
 <% end %>