@import "bootstrap-sprockets";
@import "bootstrap";

.sign_image {

	padding: .75em;
	margin: .5em;
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 10px 10px;

}

.sign_image img {
	width: 175px;
}