/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: arial;
	padding-top: 60px;
} 
input, textarea {
	padding: .5em;
	font-size: 1.25em;
}

label {
	text-transform: uppercase;
}

header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: .5em;
	border-bottom: 1px solid #CCC;
}

.logo {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: .75em;
	display: inline-block;
}

.logo a {
	text-decoration: none;
	color: black;
}

nav {
	float: right;
	margin-right: 2em;
}

nav li {
	display: inline-block;
}

.sign_image {
	border: 1px solid #CCC;
	padding: .75em;
	margin: .5em;
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 10px 10px;
	box-shadow: 2px 1px #CCC;
}

.sign_image img {
	width: 175px;
}