@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
}

section {
  overflow: auto;
    margin-right: 100px;
  margin-left: 100px;
}

textarea {
  resize: vertical;
    margin-right: 100px;
  margin-left: 100px;
}

.view {
  text-align: left;
  padding-left: 50px;
  padding-right:50px;
}

.center h1 {
  margin-bottom: 10px;
    margin-right: 100px;
  margin-left: 100px;
}

.navbar-brand {
	font-family: "helvetica"
}
.navbar-custom {
    color: #129AE3;
    background-color: #9FA7AB;
}

.sign_image {

	padding: .75em;
	margin: .5em;
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 10px 10px;

}

.sign_image img {
	width: 175px;
}